
body {   
	background-image: url(stressed_linen_@2X.png);
	font-family: Arial;
	font-size: 15;
	color: #878787
}

h1 {    
	color: #999999;
	text-align: center;
	background-color: #292929;
	font-family: Arial;
}

h2 {
	color: #FFFFFF;
	text-align: center;
	font-family: Arial;
}

p {

	font-family: Arial;
	font-size: 10 px;
}

a:link {
 	color: #999999;
 	text-decoration: none;
	font-size: 10 px;
}

a:active {
 	color: red;
	 text-decoration: none ;
}

a:visited {
	color: #999999;
 	text-decoration: none ;
}

a:hover {
 	color: #D10CE8;
 	text-decoration: none;
	transition: .5s;
	} 


