

body {
    background-color: #d0e4fe;
	color: #160057;
	font-family: Arial;
	font-size: 15;
}

h1 {
    color: #000069;
    text-align: center;
	background-color: #9BD7D5;
	font-family: arial;
}

h2 {
	color: orange;
    text-align: center;
	font-family: arial;
}

p {
	color: navy;
    font-family: Arial;
    font-size: 10 px;
}

a:link { 
	color: #160057; 
	text-decoration: none;
	font-size: 10 px;
}
a:active { 
	color: red; text-decoration: none ;
}
a:visited {
	color: #160057; 
	text-decoration: none ;
}
a:hover { 
	
	color: 2811CF; 
	text-decoration: underline;
	}